<style>
table {
	margin: 0% 10% 10% 10%;
	text-align: center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
	{% extends 'accounts/base.html' %}

{% block content %}
<body>
<form method="POST" action="{% url 'login' %}" ">
{% csrf_token %}
<h2>Login Form:</h2>

<table>
  <tr>
    <th>Labels</th>
    <th>Fields</th>
  </tr>
 <tr>
    <td>Username: </td>
    <td><input type="text" name="username"></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td><input type="password" name="password"></td>
  </tr>
  <tr>
    <th>Submit</th>
    <td><input type="submit" value="Login"></td>
  </tr>
</table>
</body>

{% endblock %}
